nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: lightgray;
}
nav ul
{
 display: flex;
 justify-content:center;
 gap: 50%;
 list-style: none;
}

.cokebody 
{
  width: 100%; 
}

.content
{
  padding-bottom: 1%;
}

.bottom 
{
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50%;
}

